/* =========================== VISUALIZAÇÃO DESKTOP GRANDE (1920x1280) =========================== */
/* -------- Definições e Variáveis Globais ------ */
* {
    margin: 0; padding: 0;
    box-sizing: border-box;

    font-family: "M PLUS Rounded 1c", sans-serif;
}

:root {
    --cor-primaria: #1E96FC;
    --cor-secundaria: #E5383B;
    --cor-clara: #F8F9FA;
    --cor-escura: #250902;
    --cor-cinza: #BAC7D3;

    --espessura-grade: 5px;
    --tamanho-forma: 50px;
}

body { background-color: var(--cor-clara); }

/* -------- Título e Placar de Pontuação -------- */
h1 img {
    display: block;
    margin: auto;
}

main { 
    display: flex; 
    flex-flow: row nowrap;
    justify-content: space-between;
}

.placar-pontuacao h2, .placar-pontuacao p {
    text-transform: uppercase;
    font-weight: 900;
}

aside {
    display: flex; flex-wrap: nowrap;
    align-items: center;
}

aside h2, aside p { color: var(--cor-clara); }

#jogador1 {
    flex-direction: row;
    background-color: var(--cor-primaria);
    border-radius: 0 200px 200px 0;
}

#jogador1 h2 { transform: rotate(90deg); transform-origin: center center; }
#jogador1 p { margin-left: -30px; }

#jogador2 { 
    flex-direction: row-reverse;
    background-color: var(--cor-secundaria);
    border-radius: 200px 0 0 200px;
}

#jogador2 h2 { transform: rotate(-90deg); transform-origin: center center; }
#jogador2 p { margin-right: -30px; }

/* ----------- Grade do Jogo da Velha ----------- */
figure {
    position: relative;
}

#grade-jogo {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.area-grade {
    width: 50px; height: 50px;
    margin: 5px;
    
    background-size: cover;
}

.icone-o { background-image: url(../images/icone_o.png); }
.icone-x { background-image: url(../images/icone_x.png); }

.barra-cinza {
    background-color: var(--cor-cinza);
    position: absolute;
    border-radius: 20px;
}

.barra-vertical { top: 0; width: var(--espessura-grade); height: 100%; }
.barra-horizontal { left: 0; width: 100%; height: var(--espessura-grade); }

.barra-vertical:nth-child(1 of .barra-vertical) { left: 32%; }
.barra-vertical:nth-child(2 of .barra-vertical) { right: 32%; }

.barra-horizontal:nth-child(1 of .barra-horizontal) { top: 32%; }
.barra-horizontal:nth-child(2 of .barra-horizontal) { bottom: 32%; }