/* =========================== VISUALIZAÇÃO DESKTOP GRANDE (1920x1280) =========================== */
/* -------- Definições e Variáveis Globais ------ */
* {
    margin: 0; padding: 0;
    box-sizing: border-box;

    font-family: "M PLUS Rounded 1c", sans-serif;
}

:root {
    --cor-primaria: #1E96FC;
    --cor-secundaria: #E5383B;
    --cor-clara: #F8F9FA;
    --cor-escura: #250902;
    --cor-cinza: #BAC7D3;

    --espessura-grade: 10px;
}

body { 
    width: 100vw; height: 100vh;
    background-color: var(--cor-clara);
    overflow: hidden;
}

/* -------- Título e Placar de Pontuação -------- */
h1 {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

h1 img {
    width: 300px;
}

.placar-pontuacao h2, .placar-pontuacao p {
    color: var(--cor-clara);
    text-transform: uppercase;
    font-weight: 900;
}

.placar-pontuacao h2 {
    font-size: 50px;
    white-space: nowrap;
}

.placar-pontuacao p {
    font-size: 70px;
}

aside {
    display: flex; flex-wrap: nowrap;
    align-items: center;

    position: absolute; top: 50%;
    transform: translateY(-50%);

    width: 500px; height: 700px;
}

#jogador1 {
    flex-direction: row; left: 0;
    background-color: var(--cor-primaria);
    border-radius: 0 50% 50% 0;
    padding-left: 300px; margin-left: -300px;
}

#jogador1 h2 { transform: rotate(90deg); transform-origin: center center; margin-left: -100px; }
#jogador1 p { margin-left: -80px; }

#jogador2 { 
    flex-direction: row-reverse; right: 0;
    background-color: var(--cor-secundaria);
    border-radius: 50% 0 0 50%;
    padding-right: 300px; margin-right: -300px;
}

#jogador2 h2 { transform: rotate(-90deg); transform-origin: center center; margin-right: -100px; }
#jogador2 p { margin-right: -80px; }

/* ----------- Grade do Jogo da Velha ----------- */
figure {
    position: absolute; top: 50%; left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

#grade-jogo {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.area-grade {
    width: 150px; height: 150px; margin: 20px;
    background-size: cover;
}

.barra-cinza {
    background-color: var(--cor-cinza);
    position: absolute;
    border-radius: 20px;
}

.barra-vertical { top: 0; width: var(--espessura-grade); height: 100%; }
.barra-horizontal { left: 0; width: 100%; height: var(--espessura-grade); }

.barra-vertical:nth-child(1 of .barra-vertical) { left: 32%; }
.barra-vertical:nth-child(2 of .barra-vertical) { right: 32%; }

.barra-horizontal:nth-child(1 of .barra-horizontal) { top: 32%; }
.barra-horizontal:nth-child(2 of .barra-horizontal) { bottom: 32%; }

/* ------------- Formas e Animações ------------- */
.icone-o circle, .icone-x path {
    fill: none;
    stroke-width: 15px; stroke-linecap: round;
}

.icone-o circle {
    stroke: var(--cor-secundaria);
    stroke-dasharray: 430px; stroke-dashoffset: 430px;
    animation: animarO 1s 0.1s ease-out forwards;
}

@keyframes animarO {
    from { stroke-dashoffset: 430px; }
    to { stroke-dashoffset: 0; }
}

.icone-x path {
    stroke: var(--cor-primaria);
    stroke-dasharray: 280; stroke-dashoffset: 280;
    animation: animarX 1.2s 0.1s ease-out forwards;
}

.icone-x path:nth-child(2) {  animation-delay: 0.2s;  }

@keyframes animarX {
    from { stroke-dashoffset: 280; }
    to { stroke-dashoffset: 0; }
}